.button {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__start,
  &__repeat,
  &__new-game,
  &__next {
    font: var(--700-24);
    color: var(--text-dark);
    background-color: var(--btn);
    width: 270px;
    height: 50px;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: all 0.3s ease-in-out;

    &--hidden {
      opacity: 0;
      visibility: hidden;
      transform: scale(0);
      width: 1px;
      height: 1px;
    }

    &--disabled {
      background-color: var(--dark-light);
      color: var(--beige);
    }
  }
}
