//Global color-variables
:root {
  --primary: #6b0b7e;
  --basic: #d78ed5;
  --beige: #e1d4c9;
  --dark: #6f6870;
  --dark-light: #a29ba2;
  --text-dark: #413d3d;
  --btn: #f7d7ee;
  --static-white: #fff;
}
